@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranSans';
  src: url(/fonts/IRANSansWeb\(FaNum\).woff2);
}

@layer base {
  @font-face {
    font-family: 'iranSans';
    src: url(/fonts/IRANSansWeb\(FaNum\).woff2);
  }
}
body {
  font-family: iranSans;
}
